PORT=5000
DATABASE_URL="postgresql://user:password@host:port/dbname?sslmode=require"
APP_URL="http://localhost:5000"
NODE_ENV="development"

BCRYPT_SALT_ROUNDS=12

JWT_ACCESS_SECRET="your-access-secret"
JWT_REFRESH_SECRET="your-refresh-secret"
JWT_ACCESS_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"

SSL_COMMERZ_STORE_ID="your-sandbox-store-id"
SSL_COMMERZ_STORE_PASSWORD="your-sandbox-store-password"
SSL_COMMERZ_IS_LIVE=false

ADMIN_EMAIL="adminemail"
ADMIN_PASSWORD="adminpassword"
